<div class="page">
  <h1>¡Bienvenido!</h1>
  <p>
    Puede acceder a las distintas funcionalidades de la aplicación desde la
    barra lateral izquierda.
  </p>
  <p>
    Ante cualquier duda o inconveniente, puede ponerse en contacto conmigo vía
    <strong><a href="mailto:iago@iagocharon.com">mail</a></strong> y voy a estar
    respondiendo lo antes posible.
  </p>
  <p>Puede mis ver otros projectos en mi sitio web:</p>
  <div class="link"><a href="https://iagocharon.com">Ver más</a></div>

  <p>Desde ya muchas gracias por su preferencia</p>
</div>

<div class="background-image">
  <img src="../../../assets/images/home.png" alt="" />
</div>
